# 1. Workflow Name
name: Playwright Tests

# 2. Trigger
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

# 3. Jobs
jobs:
  test:
    timeout-minutes: 60
    # The machine name
    runs-on: ubuntu-latest 

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-node@v4
      with:
        node-version: lts/*

    # Project frameworks
    - name: Install dependencies
      run: npm ci

    - name: Install Playwright Browsers
      run: npx playwright install --with-deps

    # Test command
    - name: Run Playwright tests
      run: npx playwright test

    - uses: actions/upload-artifact@v4 
      if: always()
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30