# 1. Workflow Name
name: Playwright Tests

# 2. Trigger
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

# 3. Jobs
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    
    container:
      image: mcr.microsoft.com/playwright:v1.50.1-jammy
      options: --user 1001

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: npm ci
      
    # Not: The browsers is already visible on the Docker image 
    # Password Area
    - name: Run Playwright tests
      env:
        SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
        SAUCE_PASSWORD: ${{ secrets.SAUCE_PASSWORD }}
        API_URL: ${{ secrets.API_URL }}
        CI: true
      run: npx playwright test

    - uses: actions/upload-artifact@v4 
      if: always()
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30